@using System.Globalization
@model Book

<style>
</style>

        <div class="col">
          <div class="card bg-light shadow-sm">
            <img src="@Model.Cover" width="100%" height="400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>

            <div class="card-body">
                    <h6 style="display:inline;float:center;">@Model.Author</h6>
                    <br>
                    <h5 style="display:inline;float:left;">@Model.Title</h5>
                    <hr style="clear:both;"/>
            <p class="card-text">@Model.Annotation</p>
              <div class="d-flex justify-content-between align-items-center">
                    <h6>@Model.Price.ToString("c", new CultureInfo("ru-RU"))</h6>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-success" asp-controller="Cart" asp-action="addToCart" asp-route-id="@Model.Id">Добавить в корзину</a>
                    </div>
            </div>
            </div>
          </div>
        </div>